<!doctype html>
<html data-ng-app="notesApp">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

  <title>Simple Data Binding</title>
</head>
<body data-ng-controller="MainController as ctrl">
<header></header>
<main class="container">
  <form data-ng-submit="ctrl.submit();" name="userForm">
    <div class="row">
      <div class="form-group">
        <label>User Name: </label><input type="text" class="form-control" data-ng-model="ctrl.model.user.username"
                                         placeholder="Please enter your user name." required data-ng-minlength="3" />
        You typed {{ctrl.model.user.username}}
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label>Password: </label><input data-popover="hello" data-popover-trigger="focus" type="password" class="form-control text-danger" data-ng-model="ctrl.model.user.password"
                                        placeholder="Please enter your password." required /> You typed {{ctrl.model.user.password}}
      </div>
    </div>
    <div class="row">
      <input type="button" class="btn btn-default" value="Change Values" data-ng-click="ctrl.change();" />
      <input type="submit" class="btn btn-primary" value="Submit" data-ng-disabled="userForm.$invalid" />
    </div>
  </form>
</main>
<footer>

</footer>


<script>
  angular.module('notesApp', ['ui.bootstrap']).controller('MainController', [function () {
    var _this = this;

    _this.model = {
      user: {
        username: '',
        password: ''
      }

    };
    var _model = _this.model;

    _this.change = function () {
      _model.user.username = ';-)';
      _model.user.password = ';)';
    };

    _this.submit = function () {
      console.log('You submitted the form with values ' + _model.user.username + ' ' + _model.user.password);
    };
  }]);
</script>
</body>
</html>
