<!doctype html>
<html data-ng-app="structureApp">
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<title>Form Structure</title>
</head>


<body class="container">

<header>
	<!--This Page Header-->
</header>
<main>

	<!--This Page Content-->

	<section data-ng-controller="ExampleController as exampleController">

		<form name="exampleForm"
		      class="form-horizontal"
		      data-ng-submit="exampleController.submit();"
		      novalidate>

			<div class="row">
				<div class="form-group"
				     data-ng-class="{'has-error' : ((exampleForm.name.$dirty && exampleForm.name.$invalid) || !exampleController.metadata.user.name.isValid)}">
					<div class="row">
						<label class="control-label col-md-2">{{exampleController.metadata.user.name.label}}
							<span data-ng-show="{{exampleController.metadata.user.name.isRequired}}"
								class="glyphicon glyphicon-asterisk small text-danger">
							</span>
						</label>

						<div class="col-md-6">
							<input name="name" type="text" class="form-control"
							       data-ng-model="exampleController.metadata.user.name.value"
							       placeholder="{{exampleController.metadata.user.name.placeholder}}"
							       required="{{exampleController.metadata.user.name.isRequired}}"
							       data-ng-minlength="{{exampleController.metadata.user.name.minlength}}"
							       data-ng-maxlength="{{exampleController.metadata.user.name.maxlength}}"
							       data-ng-pattern="{{exampleController.metadata.user.name.pattern}}"
							       data-popover-trigger="focus" data-popover-placement="bottom"
							       data-popover='{{exampleController.getMessages(exampleForm.name)}}'/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-2 col-md-6" data-ng-show="exampleController.isBackendValidation">
		                    <span class="help-block">
			                    <span class="glyphicon glyphicon-remove"></span> You can only enter "Kemical".
		                    </span>
							<span class="help-block">
								<span class="glyphicon glyphicon-remove"></span> Some other error.
		                    </span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group"
				     data-ng-class="{'has-error' : (exampleForm.username.$dirty && exampleForm.username.$invalid)}">
					<label class="control-label col-md-2">{{exampleController.metadata.user.username.label}}
						<span data-ng-show="{{exampleController.metadata.user.username.isRequired}}"
							class="glyphicon glyphicon-asterisk small text-danger">

						</span>
					</label>

					<div class="input-group col-md-6">
						<span class="input-group-addon">@</span>
						<input name="username" type="text" class="form-control"
						       data-ng-model="exampleController.metadata.user.username.value"
						       placeholder="{{exampleController.metadata.user.username.placeholder}}"
						       required="{{exampleController.metadata.user.username.isRequired}}"
						       data-ng-minlength="{{exampleController.metadata.user.username.minlength}}"
						       data-ng-maxlength="{{exampleController.metadata.user.username.maxlength}}"
						       data-ng-pattern="{{exampleController.metadata.user.username.pattern}}"
						       data-popover-trigger="focus" data-popover-placement="bottom"
						       data-popover='{{exampleController.getMessages(exampleForm.username)}}'/>
	                     <span class="input-group-btn">
	                         <button type="button" class="btn btn-default">
		                         <span class="glyphicon glyphicon-ok"></span>
	                         </button>
	                     </span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group"
				     data-ng-class="{'has-error' : (exampleForm.age.$dirty && exampleForm.age.$invalid)}">
					<label class="control-label col-md-2">{{exampleController.metadata.user.age.label}}
						<span data-ng-show="{{exampleController.metadata.user.age.isRequired}}"
						      class="glyphicon glyphicon-asterisk small text-danger">
						</span>
					</label>

					<div class="col-md-6">
						<input name="age" type="number" class="form-control"
						       data-ng-model="exampleController.metadata.user.age.value"
						       placeholder="{{exampleController.metadata.user.age.placeholder}}"
						       min="{{exampleController.metadata.user.age.min}}"
						       data-ng-maxlength="{{exampleController.metadata.user.age.maxlength}}"
						       data-popover-trigger="focus" data-popover-placement="bottom"
						       data-popover="{{exampleController.getMessages(exampleForm.age)}}" />
					</div>
				</div>
			</div>
			<div class="row">
				<input type="button" class="btn btn-default" value="Change Values" data-ng-click="exampleController.change();" />
				<input type="submit" class="btn btn-primary" value="Submit" data-ng-disabled="exampleForm.$invalid" />
			</div>
		</form>
	</section>
</main>
<footer>
	<!--This Page Footer-->
</footer>

<!--
This is an example all the JavaScript code should be in separate files.
For more information please read the coding standards, styles and patterns document.
-->
<script>

	angular.module('structureApp', ['ui.bootstrap']).controller('ExampleController', [function () {

		var _this = this;

		_this.labels = {};
		_this.metadata = {};
		_this.model = {};
		_this.isBackendValidation = false;

		// This will be fetched through meta-data.
		var _messages = {
			required: 'This field is required.',
			number: 'This field should be a numeric field.',
			integer: 'This field should be an integer number.',
			float: 'This field should be an float number.',
			date: 'This should be a valid date field.',
			boolean: 'Should be a boolean',
			minlength: 'This field should be at least %1% characters.',
			maxlength: 'This field should be at most %1% characters.',
			max: 'The maximum value for this field is %1%.',
			min: 'The minimum value for this field is %1%.',
			date: 'This should be a valid date field.',
			pattern: 'This is an incorrect pattern.'
		};

		var message = ' ';
		var element = null;


		// This method should be moved to a utility class.
		_this.getMessages = function (field) {

			message = '\u2714';

			if (('undefined' == typeof(field)) || field.$valid) {
				return message;
			}

			message = '\u2718';

			// TODO Kem This has a potential of breaking if collection of the same input (Except checkbox and radio) is used.
			element = document.getElementsByName(field.$name)[0];

			if (field.$error.required) {
				message += ' -' + _messages.required;
			}
			if (field.$error.number) {
				message += ' -' + _messages.number;
			}
			if (field.$error.boolean) {
				message +=  ' -' + _messages.boolean;
			}
			if (field.$error.date) {
				message +=  ' -' + _messages.date;
			}
			if (field.$error.minlength) {
				message +=  ' -' + _messages.minlength.replace('%1%', element.getAttribute('data-ng-minlength'));
			}
			if (field.$error.maxlength) {
				message +=  ' -' + _messages.maxlength.replace('%1%', element.getAttribute('data-ng-maxlength'));
			}
			if (field.$error.min) {
				message +=  ' -' + _messages.min.replace('%1%', element.getAttribute('min'));
			}
			if (field.$error.max) {
				message +=  ' -' + _messages.max.replace('%1%', element.getAttribute('max'));
			}
			if (field.$error.pattern) {
				message +=  ' -' + _messages.pattern;
			}

			return message;
		};

		_this.metadata = {
			user: {
				name: {
					label: 'name',
					type: 'string',
					value: '',
					placeholder: 'Please enter your name.',
					isRequired: true,
					minlength: 5,
					maxlength: 20,
					pattern: '/^[a-zA-Z ]*$/',
					isValid : true
				},
				username: {
					label: 'username',
					type: 'string',
					value: '',
					placeholder: 'Please enter your username.',
					isRequired: true,
					minlength: 5,
					maxlength: 10,
					pattern: '/^[a-z0-9_-]*$/',
					isValid : true
				},
				age: {
					label: 'age',
					type: 'number',
					value: 0,
					placeholder: 'Please enter your age.',
					isRequired: false,
					min: 18,
					maxlength: 2,
					isValid : true
				}
			}
		};

		_this.change = function () {

			_this.isBackendValidation = true;
			_this.metadata.user.name.value = 'Kemistry';
			_this.metadata.user.name.isValid = false;
		};

		_this.submit = function () {

			_this.isBackendValidation = false;
			_this.metadata.user.name.isValid = true;
		};
	}]);
</script>
</body>
</html>